
.jumbotron {
  background-image: url(img/heaven.jpg);
  background-Size: cover;
  height: 700px;
  text-align: center;
  margin-top: -120px;
  font-family: "OpenSans", bold;

}
.jumbotron .display-4 {
  color: white;
  font-family: "OpenSans", bold;

  margin-top: 200px;
}
.jumbotron .p {
 color: white
 font-Size: 25px
 font-family: "timesnewroman";
}


.row {
  background-image: url(img/pastelblue.jpg);
  background-size: cover;
  font-family: "OpenSans", bold
}

.container{
font-family: "OpenSans", bold;

}
.top {
  background-image: url(img/pastelblue.jpg);
  background-size: cover;
  height:auto;
}

.img-fluid {
  max-width: 100%;
}
.frick{
  font-family: "OpenSans", bold

}
