.container .navbar-brand  {
  color: white;
}

.dropdown .dropdown-menu{
  background-color: black;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;

}




.container {
  width: 50%;
  margin-top: 7px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.4);
  padding: 40px;
  background-image: url(img/....jpg);
    font-family: "OpenSans", bold;
}


.form-group{
    color: white;
}
.text-center{
  color:white;
}

.backgroundimg{
  background-image: url(img/heaven.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.btn-success {
  width: auto;

}
